#TeamInfoSection {
    position: relative;
}

.TeamHeroSection {
    height: 160vh;
    width: 100%;
    background-image: url(/public/TeamHero.jpg);
    background-position: center;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
}

.AboveHeroSect2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px;
    z-index: 5;
}

.AboveHeroSect2 h1 {
    font-family: var(--Font2);
    font-size: 3rem;
    text-align: center;
}

.ArrageBoxSect {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.TeamMember1 {
    height: 230px;
    width: 800px;
    background-color: #ffffff51;
    border-radius: 200px;
    position: relative;
    margin-top: 200px;
    padding-right: 40px;
    backdrop-filter: blur(10px);
}

.boxImg {
    position: absolute;
    bottom: 0;
    left: 0;
}

.boxImg img {
    width: 250px;
}

.InfoAboutSectCh {
    width: 70%;
    margin-left: 250px;
    padding-top: 35px;
}

.InfoAboutSectCh p {
    font-family: var(--Font2);
    font-size: 1.5rem;
    line-height: 1.9rem;
    letter-spacing: 1px;
}

.ArrageBoxSect .TeamMember1:nth-child(2) {
    align-self: end;
}

.ArrageBoxSect .TeamMember1:nth-child(2) img {
    width: 220px;
}

.ArrageBoxSect .TeamMember1:nth-child(2) .boxImg {
    left: 74%;
}

.ArrageBoxSect .TeamMember1:nth-child(2) .InfoAboutSectCh {
    padding: 35px 0 0 65px;
    ;
    margin: 0;
}